name: Docker production

on: workflow_dispatch

env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: diafaktura-backend

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
#  test:
#    runs-on: ubuntu-latest

#    steps:
#      - uses: actions/checkout@v2


#      - name: Run tests
#        run: |
#          if [ -f docker-compose.test.yml ]; then
#            docker-compose --file docker-compose.test.yml build
#            docker-compose --file docker-compose.test.yml run sut
#          else
#            docker build . --file Dockerfile
#          fi

  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    # Ensure test job passes before pushing image.
 #   needs: test

    runs-on: ubuntu-latest
#     if: github.event_name == 'push'

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: Login to docker
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME
        
     

      - name: Tags
        run: |
          docker tag $IMAGE_NAME ${{ secrets.DOCKER_USER }}/$IMAGE_NAME:production
      - name: Push
        run: |
            docker push ${{ secrets.DOCKER_USER }}/$IMAGE_NAME:production
